{% extends '../../app/layouts/base.twig' %}

{% block title %}main page 2{% endblock %}

{% block content %}
    <img src="assets/images/banner.png" alt="">
    <h1>test2</h1>
    {% include '../../shared/ui/button/template.twig' %}
{% endblock %}