{% extends '../../templates/layouts/base.twig' %}

{% block title %}
    MAIN PAGE
{% endblock %}

{% block content %}
    <div>
        <h1>123123123</h1>

        {% include '../../templates/components/svg.twig' with {href: "close"} %}
    </div>
{% endblock %}